@model IEnumerable<DiningOption>
@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    $().ready(function () {
        var nominateDialog = $('#nominate-section');
        $('a#nominate').click(function () {
            $.ajax({
                url: '@Url.Action("Nominate", "Location")',
                type: 'GET',
                success: function (data) {
                    nominateDialog.html(data);

                    nominateDialog.dialog({
                        close: function () { window.location = '@Url.Action("Index")'; },
                        modal: true,
                        resizeable: false,
                        width: 250,
                        position: [200, 'center']
                    });
                }
            });
            return false;
        });

        nominateDialog.delegate('a.add-location', 'click', function () { 
            $.ajax({
                url: '@Url.Action("Nominate", "Location")',
                type: 'POST',
                data: JSON.stringify({'locationId':$(this).data('locationid')}),
                contentType: 'application/json',
                success: function() { window.location = '@Url.Action("Index")'; }
            });
            return false;
        });

        $('.vote').click(function(){
            var voteLink = $(this);
            $.ajax({
                url: '@Url.Action("Vote")',
                type: 'POST',
                data: JSON.stringify({'optionId':voteLink.data('option-id')}),
                contentType: 'application/json',
                success: function (result) { voteLink.siblings('.votes').html(result); }
            });
            return false;
        });
    });
</script>

<h2>@ViewBag.Message</h2>

<div class="row">

    <div class="span4">
        <a id="nominate" class="btn btn-primary">Nominate A Location</a>
    </div>

    <div class="span8">
        <ul class="location-list">
        @foreach (var option in Model.OrderByDescending(o => o.Votes))
        {
            <li>
                <span class="votes">@option.Votes</span>
                <a class="vote" data-option-id="@option.Id" title="Upvote @option.Location.Name">
                    <img src="@Url.Content("~/Content/Images/upvote.jpg")" height="25" />
                    <span class="location-name">@option.Location.Name</span>
                </a>
        
            </li>
        }
        </ul>
    </div>

</div>


<div id="nominate-section"></div>