@model IEnumerable<DiningOption>
@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="../../Content/Bootstrap/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="../../Content/Bootstrap/js/bootstrap-alert.js"></script>
<script type="text/javascript" src="../../Content/Bootstrap/js/bootstrap-transition.js"></script>
<script type="text/javascript">
    $().ready(function () {
        var nominateDialog = $('#modal-window');
        var nominateDialogBody = nominateDialog.find('.modal-body');
        $('a#myModal').click(function () {
            $.ajax({
                url: '@Url.Action("Nominate", "Location")',
                type: 'GET',
                success: function (data) {
                    nominateDialogBody.html(data);
                    nominateDialog.modal('show');
                    /*nominateDialog.dialog({
                    close: function () { window.location = '@Url.Action("Index")'; },
                    modal: true,
                    resizeable: false,
                    width: 250,
                    position: [200, 'center']
                    });*/
                }
            });
            return false;
        });

        nominateDialog.delegate('a.add-location', 'click', function () {
            $.ajax({
                url: '@Url.Action("Nominate", "Location")',
                type: 'POST',
                data: JSON.stringify({ 'locationId': $(this).data('locationid') }),
                contentType: 'application/json',
                success: function () {
                    nominateDialog.modal('hide');
                    $(".alert").fadeIn();
                    window.setTimeout(function () {
                        $(".alert").fadeOut();
                    }, 2500);

                }
            });
            return false;
        });

        $('.vote').click(function () {
            var voteLink = $(this);
            $.ajax({
                url: '@Url.Action("Vote")',
                type: 'POST',
                data: JSON.stringify({ 'optionId': voteLink.data('option-id') }),
                contentType: 'application/json',
                success: function (result) { voteLink.siblings('.votes').html(result); }
            });
            return false;
        });
    });
</script>

<div class="alert alert-success hide">
    <a class="close" data-dismiss="alert">×</a>
    <strong>Congratulations!</strong> Your nomination has been added to the list of acceptable restaurant choices!
</div>

<h2>@ViewBag.Message</h2>

<div class="row">

    <div class="span4">
        <a class="btn btn-primary" id="myModal" >Nominate A Location</a>
    </div>

    <div class="span8">
        <ul class="location-list">
        @foreach (var option in Model.OrderByDescending(o => o.Votes))
        {
            <li>
                <span class="votes">@option.Votes</span>
                <a class="vote" data-option-id="@option.Id" title="Upvote @option.Location.Name">
                    <img src="@Url.Content("~/Content/Images/upvote.jpg")" height="25" />
                    <span class="location-name">@option.Location.Name</span>
                </a>
        
            </li>
        }
        </ul>
    </div>

</div>


<div id="modal-window"  class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Nominate a Location</h3>
    </div>
    <div class="modal-body"></div>
</div>